  {{#each animal}} 
   
  <div class="cardcontainer col-2 ">

    <a href="/animal/single-animal/{{_id}}">

      <img class="cardimg" src="{{photos}}">
      <a href="/authentication/profile/delete/{{_id}}">
        <img src="/images/erase-button.png" alt="erase" class="erase-button">
      </a>
      <div class="cardcontent">
        <p><u>{{breed}}</u></p>
        <h3>{{name}}</h3>
      
      </div>
      
    </a>

  </div>
  {{/each}}
