  {{#each animal}} 
   {{!-- <div class="card col-2">
    <div class="relative">
    <a href="/animal/single-animal/{{_id}}">
      <img class="mainImg" src="{{photos}}" alt="{{name}}'s Photos'">
    </a>
    
    </div>
    <a href="/animal/single-animal/{{_id}}">
    <div class="d-flex justify-content-center">
      <h3><strong>{{name}}</strong></h3>
    </div>
    </a>
    <h1>This is other</h1>
  </div> --}}
  <div class="cardcontainer col-2 ">

    <a href="/animal/single-animal/{{_id}}">

      <img class="cardimg" src="{{photos}}">

      <div class="cardcontent">
        <p><u>{{breed}}</u></p>
        <h3>{{name}}</h3>
      
      </div>
      
    </a>

  </div>
  {{/each}}
