<section class="nav-padding">

<section class="row">

<aside class="col-2 m-4" style="background-color:black" position="stiky">
  {{!-- Aqui vai ter os filtros --}}
 
  {{> filters}}
</aside>
<div class="col-9 row">
  {{!-- Aqui vai ter os cards --}}
  {{#each animal}} 
   <div class="card col-2 p-0">
  <div class="relative">
  <a href="/animal/single-animal/{{_id}}">
    <img class="mainImg" src="{{photos}}" alt="{{name}}'s Photos'">
  </a>
  
  </div>
  <a href="/animal/single-animal/{{_id}}">
  <div class="d-flex justify-content-center">
    <h3>{{name}}</h3>
  </div>
  </a>
  
</div>
  {{/each}}
</div>
</section>
</section>