<section class="nav-padding">

<h1>Meet {{animal.name}}</h1>

<div class="container">
  <div class="row">
    <div class="col-3">
      <figure>
          <img src="{{animal.photos}}" alt="{{animal.name}}'s Photo" class="img-fluid">
      </figure>
    </div>
    <div class="col-6 background" class="single-text">
      <span><strong>Name</strong>: {{animal.name}}</span>
      <br />
      <span><strong>Specie</strong>: {{animal.specie}}</span>
      <br />
      <span><strong>Breed</strong>: {{animal.breed}}</span>
      <br />
      <span><strong>Age</strong>: {{animal.animalAge}}</span>
      <br />
      <span><strong>Gender</strong>: {{animal.animalGender}}</span>
      <br />
      <span><strong>Size</strong>: {{animal.animalSize}}</span>
      <br />
      {{#if animal.animalVaccination}}
      <span><strong>Vaccination</strong>: Yes</span>
      {{else}}
      <span><strong>Vaccination</strong>: No</span>
      {{/if}}
      <br />
      {{#if animal.animalCastration}}
      <span><strong>Castration</strong>: Yes</span>
      {{else}}
      <span><strong>Castration</strong>: No</span>
      {{/if}}
      <br />
      <span><strong>Description</strong>:<br /> {{animal.animalDescription}}</span>
      <br />
    </div>
    <div class="col-3">
      <form action="/animal/single-animal/{{animal._id}}" method="POST" class="form-style-5">
      <h5><strong>Contact Form</strong></h5>
        <label for="email">Your Email</label>
        <input type="email" placeholder="Enter your email here...">
        
        <label for="message">Your Email</label>
        <textarea name="message" id="" cols="30" rows="5" placeholder="Enter your message here..."></textarea>
        <button type="submit">Send Message</button>
      </form>
    </div>
  </div>
</div>


</section>