<h1>This is the single page</h1>


<figure>
  <img src="{{animal.photos}}" alt="{{animal.name}}'s Photo">
</figure>
<span><strong>Name</strong>: {{animal.name}}</span>
<br />
<span><strong>Specie</strong>: {{animal.specie}}</span>
<br />
<span><strong>Breed</strong>: {{animal.breed}}</span>
<br />
<span><strong>Age</strong>: {{animal.animalAge}}</span>
<br />
<span><strong>Gender</strong>: {{animal.animalGender}}</span>
<br />
<span><strong>Size</strong>: {{animal.animalSize}}</span>
<br />
<span><strong>Vaccination</strong>: {{animal.animalVaccination}}</span>
<br />
<span><strong>Castration</strong>: {{animal.animalCastration}}</span>
<br />
<span><strong>Description</strong>: {{animal.animalDescription}}</span>
<br />
